/*  USER HOMEPAGE STYLESHEET
    Defines main page elements such as footers, headers. */

.main-cont {
    padding: 20px;
}

.main-hmpg-pass-date-cont {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    /*max-width: 300px;*/
}
