.pass-detail-cont {
    height: 175px;
    /*width: 270px;*/
    width: 100%;
    /*min-width: 270px;*/
    background-color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin: 15px 15px 15px 15px;*/
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.pass-detail-hmpg-feedback:hover {
    opacity: 80%;
}

.pass-detail-modal-hmpg-club {
    font-size: 20px;
    text-align: center;
    margin: 15px;
    font-variant: small-caps;
    font-weight: 300;
    letter-spacing: 3px;
}

.pass-detail-hmpg-logo {
    width: 100px;
    height: 100px;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
    height: 90% !important;
    border: 0px;
    overflow: hidden;
}

.pass-detail-modal-close {
    width: 50px;
    height: 50px;
    align-self: flex-end;
}

.pass-detail-modal-btn {
    flex: 1 1 0;
    margin: 0px !important;
    padding: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 4px;
    border: 0px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.pass-detail-header-cont {
    display: flex;
    flex-direction: column;
    height: 35%;
}

.pass-detail-modal-footer {
    padding: 0px;
    align-items: stretch;
    height: 15%;
    max-height: 100px;
    border: 1px 0px 0px 0px;
    overflow: hidden;
}

.pass-detail-modal-clubname {
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 33px;
    text-align: center;
}

.pass-detail-clubname-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pass-detail-modal-date {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 6px;
    font-family: helvetica;
}

.pass-detail-modal-field {
    text-align: center;
    font-size: 18px;
}

.pass-detail-modal-value {
    text-align: center;
    font-size: 18px;
}

.modal-header {
    display: flex;
    justify-content: center;
    border: 0px;
}

.pass-detail-modal-footer-activated {
    animation: activated-animation 2s infinite;
}

@-webkit-keyframes activated-animation {
  0% {
    background-color: #2FA6D4;
  }
  15% {
    background-color: #BFEBFF;
  }
  30% {
    background-color: #BAE06B;
  }
  45% {
    background-color: #FFF04A;
  }
  60% {
    background-color: #FFD9D2;
  }
  75% {
    background-color: #FFF04A;
  }
  90% {
    background-color: #BAE06B;
  }
  100% {
    background-color: #BFEBFF;
  }
}

@keyframes bg-animation {
  0% {
    background-color: #2FA6D4;
  }
  15% {
    background-color: #BFEBFF;
  }
  30% {
    background-color: #BAE06B;
  }
  45% {
    background-color: #FFF04A;
  }
  60% {
    background-color: #FFD9D2;
  }
  75% {
    background-color: #FFF04A;
  }
  90% {
    background-color: #BAE06B;
  }
  100% {
    background-color: #2FA6D4;
  }
}

