/*  USER HOMEPAGE STYLESHEET
    Defines main page elements such as footers, headers. */

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-main-content {
    flex: 1;
}

.index-hmpg-cont {
    background-color: #8fd8f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lead {
    text-align: center;
}

.login-button {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #8fd8f2;
    background-color: #062f4f;
    padding: 15px 50px;
}

.admin-hmpg-submit-button {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #fff;
    background-color: #11895a;
    padding: 5px 25px;
}

.admin-hmpg-submit-button:hover {
    background-color: #e24e42;
}

.cover-heading {
    font-weight: 700;
    font-size: 50px;
    padding: 0px 10px 10px 10px;
    margin-bottom: 20px;
    border-bottom: 4px solid #e24e42;
    color: #062f4f;
}

.main-cont, .main-cont-club-admin {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-cont-club-admin {
    flex-direction: column;
}

.main-hmpg-pass-date-cont {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    margin: 10px;
    margin-top: 0px;
}

form.admin-hmpg-form {
    padding: 20px;
    padding-top: 70px;
    margin-top: -50px;
    border-bottom: 1px solid #eee;
}

.admin-hmpg-field-desc {
    margin-bottom: 10px;
}

.page-link {
    color: #666;
}

.page-link:hover {
    color: #666;
}

.form-text  {
    margin-bottom: 10px;
}

.admin-hmpg-form-input {
    display: inline-block;
}

.admin-hmpg-form-checkbox {
    display: inline-block;
    width: auto;
}

.admin-hmpg-form-confirm {
    color: #e24e42;
}

.user-hmpg-navbar-link-cont {
    height: 100%;
}

.navbar-collapse.collapse.in {
  display: block!important;
}

.navbar-brand.active {
    border-bottom: 3px solid #e24e42;
    padding-bottom: 2px;
}

.active {
    color: #e24e42 !important;
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    .active-li-nav {
        border: 0px !important;
    }

    .pagination {
        display: inline;
    }

    .page-item:first-child .page-link {
        border-top-left-radius: .25rem; 
        border-top-right-radius: .25rem !important;
        border-bottom-left-radius: 0rem !important;
        margin: 0px;
    }

    .page-item:last-child .page-link {
        border-bottom-left-radius: .25rem; 
        border-bottom-right-radius: .25rem !important;
        border-top-right-radius: 0rem !important;
    }

    .page-link {
        margin-left: 0px;
        margin-top: -1px;
    }
}

.navbar-brand {
    font-weight: 600;
/*    color: #062f4f !important;*/
    margin-top: 0px; 
}

.active:hover  {
    color: #d13d31 !important;
}

/*li.nav-item:hover {
    background-color: #e7e8e9;
}*/

.nav-link {
    font-weight: 600;
}

.nav-item  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-li-nav  {
    border-bottom: 3px solid #e24e42;
}

.navbar-hmpg-format {
    height: 60px;
    padding: 0px 16px;
}

#id_color li {
    width: 44px;
    height: 44px;
    /*padding: 8px 15px;*/
    border-radius: 22px;
    display: inline-block;
    overflow: hidden;
    background-color: #e24e42;
    margin: 0px 3px;
}

#id_color label {
    background-color: #000;
    padding: 8px 15px;
    color: #fff;
    height: 44px;
    /*width: 44px;*/
    display: flex;
    justify-content: left;
    align-items: center;
}

#id_color input {
    height: 44px;
}

#id_color {
    padding: 0px;
}

.user-hmpg-navbar-list  {
    height: 100%;
}

.admin-hmpg-form-radios {
    list-style: none;
    /*width: 30px;
    height: 30px;*/
}

.hmpg-welcome-banner {
    margin: 30px 20px 10px 20px;
    color: #062f4f;
    font-weight: bolder;
    font-size: 45px;
    border-left: 2px solid #062f4f;
    padding: 15px 30px;
    background-color: #8fd8f2;
}

.modal-backdrop
{
    opacity:0.8 !important;
}

.navbar-text {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px 0px 10px 0px;
}
