<button class="pass-detail-cont"
    style="background-color: {{$ctrl.buttonColor}}"
    ng-mouseenter="$ctrl.changeBackgroundColorDark()"
    ng-mouseleave="$ctrl.changeBackgroundColorLight()"
    data-toggle="modal" 
    data-target="#passDetailModal{{$ctrl.passNum}}"> 
    <!-- <div class="pass-detail-hmpg-feedback"> -->
        <p class="pass-detail-modal-hmpg-club">
            {[{$ctrl.passObj[0].fields.club_name}]}
        </p>
        <p class="pass-detail-hmpg-date">
            <em>{{ $ctrl.getFormattedDate($ctrl.passObj[0].fields.pass_date) }}</em>
        </p>
        <!-- <img class="pass-detail-hmpg-logo" 
            src="logos/{{$ctrl.passObj.image}}"> -->
</button>

<!-- Modal -->
<div class="modal" 
    id="passDetailModal{{$ctrl.passNum}}" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="exampleModalCenterTitle" 
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" 
        role="document">
        <div class="modal-content">
            <div class="pass-detail-header-cont"
                style="background-color: {{$ctrl.colors[$ctrl.passObj[0].fields.color]}}">
                <button type="button" 
                    class="close pass-detail-modal-close float-right" 
                    data-dismiss="modal" 
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-header">
                    <div class="pass-detail-clubname-cont">
                        <h1 class="pass-detail-modal-clubname">
                            {{$ctrl.passObj[0].fields.club_name}}
                        </h1>
                        <p class="pass-detail-modal-date">
                            {{ $ctrl.getFormattedDate($ctrl.passObj[0].fields.pass_date) }}
                        </p>
                        <!-- DATE ISN'T TODAY -->
                        <p ng-if="!$ctrl.isDateToday($ctrl.passObj[0].fields.pass_date)"
                            class="pass-detail-modal-nottoday">
                            Not Today
                            <i class="fa fa-times-circle fa-lg pass-detail-hmpg-isday"></i>
                        </p>
                        <!-- DATE IS TODAY -->
                        <p ng-if="$ctrl.isDateToday($ctrl.passObj[0].fields.pass_date)"
                            class="pass-detail-modal-today">
                            Today
                            <i class="fa fa-check-circle fa-lg pass-detail-hmpg-isday"></i>

                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <p class="pass-detail-modal-field">
                    <strong>Pass Holder Name:</strong>
                </p>
                <p class="pass-detail-modal-value">
                    {{$ctrl.passUser}}

                </p>
                <p class="pass-detail-modal-field">
                    <strong>Club Member Name:</strong> 
                </p>
                <p class="pass-detail-modal-value">
                    {{$ctrl.passObj[0].fields.pass_source}}
                </p>

            </div>
            <!-- FOOTER WITH ACTIVATE AND TRANSFER OPTIONS -->
            <div class="modal-footer pass-detail-modal-footer"
                ng-if="$ctrl.passObj[0].fields.transferrable && !$ctrl.passObj[0].fields.activated">
                <button type="button" 
                    class="btn btn-light pass-detail-modal-btn" 
                    data-dismiss="modal"
                    ng-click="$ctrl.activate($ctrl.passObj[0].fields.passId)"
                    onclick="location.href='/homepage/';">
                    Activate
                </button>
                <button type="button" 
                    class="btn btn-info pass-detail-modal-btn"
                    data-toggle="modal" 
                    data-target="#passTransferModal{{$ctrl.passNum}}"
                    ng-click="$ctrl.swapModalDetailToTransfer()">
                    Transfer
                </button>
            </div>
            <!-- FOOTER WITH COLORED BAR -->
            <div class="modal-footer pass-detail-modal-footer pass-detail-modal-footer-activated"
                ng-if="(!$ctrl.passObj.transferable || $ctrl.passObj[0].fields.activated) 
                    && !($ctrl.passObj[0].fields.transferrable && !$ctrl.passObj[0].fields.activated)">
                <div class="pass-detail-modal-btn">
                    <p>Activated Pass</p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- PASS TRANSFER SCREEN -->
<div class="modal" 
    id="passTransferModal{{$ctrl.passNum}}" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="exampleModalCenterTitle" 
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" 
        role="document">
        <div class="modal-content">
<!--             <script> sessionStorage.setItem("passId", $('[ng-app="ProspectPassApp"]').$ctrl.passId;); </script> -->
            <!-- style="background-color: {{$ctrl.passObj.color}}" -->
            <div class="pass-detail-header-cont"
                style="background-color: {{$ctrl.passObj.color}}">
                <button type="button" 
                    class="close pass-detail-modal-close float-right" 
                    data-dismiss="modal" 
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-header">
                    <div class="pass-detail-clubname-cont">
                        <h1 class="pass-detail-modal-clubname">
                            {{$ctrl.passObj[0].fields.club_name}}
                        </h1>
                        <p class="pass-detail-modal-date">
                            {{$ctrl.passObj[0].fields.pass_date}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <!-- <iframe src={{$ctrl.sendUrl}} frameborder="0"> -->
                <form>
                    NetId: <input type="text" ng-model="netid">
                    Transferrable: <input type="checkbox" ng-model="transferrable">
                </form>
            </div>
            <!-- FOOTER WITH CANCEL AND TRANSFER OPTIONS -->
            <div class="modal-footer pass-detail-modal-footer">
                <button type="button" 
                    class="btn btn-danger pass-detail-modal-btn" 
                    data-toggle="modal" 
                    data-target="#passDetailModal{{$ctrl.passNum}}"
                    ng-click="$ctrl.swapModalTransferToDetail()">
                    Cancel
                </button>
                <button type="button" 
                    class="btn btn-info pass-detail-modal-btn"
                    ng-click="$ctrl.transfer($scope.netid, $scope.transferrable)"
                    onclick="location.href='/homepage/';">
                    Transfer
                </button>
            </div>
        </div>
    </div>
</div>

