{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <link rel="icon" href="../../favicon.ico"> -->

        <title>ProspectPass</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="{% static 'css/userHmpg.css' %}">
        <link rel="stylesheet" href="{% static 'css/passDetail.css' %}">

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function () {
                $('.datetime-input').datepicker({
                    format:'YYYY-MM-DD'
                });
            });
        </script>
    </head>

    <body>

        <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top navbar-hmpg-format">
            <a class="navbar-brand" 
                href="../">
                ProspectPass
            </a>
            <div id="navbarText">
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="../homepage">Passes</a>
                    </li>
                    {% if user.officer_status %}
                    <li class="nav-item">
                        <a class="nav-link active" href="../admin-homepage">Admin</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% if user.officer_status %}
        <div class="page-main-content">
            <h1 class="hmpg-welcome-banner">Welcome, {{user.first_name}}</h1>
            <div class="main-cont-club-admin" 
                ng-app="ProspectPassApp" 
                ng-controller="ProspectUserCtrl as ctrl">
                <p><strong>
                    Club: {{ user.user_club }}
                </strong></p>
                <form method="post"
                    class="admin-hmpg-form"
                    action="{% url 'admin-homepage' %}">
                    {% csrf_token %}
                    <h3>Set New Club Officer</h3>
                    <p class="text-muted form-text">
                        Anyone you indicate in this field will have full officer privileges. This means they will be able to create unlimited passes for your club, distribute passes to anyone with a netid, and appoint other students who will also have unlimited site privileges.
                    </p>
                    {{ forms.addofficer.as_p }}
                    <input type = "hidden" 
                        name = "source" 
                        value = "{{user.username}}" />
                    <p class="admin-hmpg-form-confirm">
                        Check that the entered NetId is correct before submitting.
                    </p>
                    <input type="submit" 
                        class="btn btn-lg btn-default admin-hmpg-submit-button"
                        value="Submit" />
                </form>

                <form method="post"
                    class="admin-hmpg-form"
                    action="{% url 'admin-homepage' %}">
                    {% csrf_token %}
                    <h3>Create and Distribute New Pass</h3>
                    <p class="text-muted form-text">
                        On submit, a pass will be created for your club with the provided attributes and distributed to all of the club members. Once a pass is created, it cannot be recollected.
                    </p>
                    {{ forms.addpass.as_p }}
                    <input type="hidden" 
                        name="source" 
                        value= "{{user.username}}" />
                    <input type="submit" 
                        class="btn btn-lg btn-default admin-hmpg-submit-button"
                        value="Submit" />
                </form>

                <form method="post"
                    class="admin-hmpg-form"
                    action="{% url 'admin-homepage' %}">
                    {% csrf_token %}
                    <h3>Distribute a pass</h3>
                    <p class="text-muted form-text">
                        Description here.
                    </p>
                    {{ forms.singledist.as_p }}
                    <input type="hidden" 
                        name="source" 
                        value= "{{user.username}}" />
                    <input type="submit" 
                        class="btn btn-lg btn-default admin-hmpg-submit-button"
                        value="Submit" />
                </form>

                <form method="post" 
                class="admin-hmpg-form"
                action="{% url 'admin-homepage' %}" 
                enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3>Upload Members</h3>
                    <p class="text-muted form-text">
                        Upload a .csv file where one of the columns begins with "NetId" and 
                        contains the NetId's of the clubs members.
                    </p>
                    {{ forms.uploadfile.as_p }}
                    <input type="hidden" 
                    name="source" 
                    value= {{user.username}} />
                    <input type="submit" 
                        class="btn btn-lg btn-default admin-hmpg-submit-button"
                        value="Submit" />
                </form>
            </div>


        </div>
        {% endif %}

        {% if not user.officer_status %}
        <div class="page-main-content">
            <h1 class="hmpg-welcome-banner">Welcome, {{user.first_name}}</h1>
            <div class="main-cont" 
                ng-app="ProspectPassApp" 
                ng-controller="ProspectUserCtrl as ctrl">
                <h3 class="text-muted">You aren't an officer! If you think this is a mistake, speak to an officer of your club.</h3>
            </div>
        </div>
        {% endif %}

        <nav class="navbar bottom navbar-light bg-light">
            <p class="navbar-text">
                <strong>ProspectPass</strong> was created for COS 333, Spring 2018.
            </p>
            <p class="navbar-text">
                Steven Cornwell '20, Yijia Lang '19, Will Arnesen '20, and Olivia Johnson '20.
            </p>
        </nav>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script> -->
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}" ></script>

        <!-- ANGULAR -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <!-- JS -->
        <base href="{% static '' %}" />
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/userHmpg.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/passDetail.js' %}"></script>


    </body>
</html>
